= semantic_form_for @<%= singular_name %> do |f|
  = f.inputs do
    <%- for attribute in model_attributes -%>
    = f.input :<%= attribute.name %>
    <%- end -%>
  = f.buttons

-# f.input :user, :as => :select
-# f.input :user_id, :as => :hidden, :value => current_user.id
