- title "#{<%= class_name %>.model_name.human} bearbeiten"

<%= render_form %>

<%- if actions? :show, :index -%>
%p
  <%- if action? :show -%>
  = link_to t(:show), @<%= singular_name %>
  |
  <%- end -%>
  <%- if action? :index -%>
  = link_to t(:index), <%= plural_name %>_path
  <%- end -%>
<%- end -%>
